<a asp-controller="Home" asp-action="Index">[Домой]</a>
<a asp-controller="Account" asp-action="Index">[Secured Zone]</a>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Admin" asp-action="Index">[Административная панель]</a>
    <a asp-controller="Account" asp-action="Customer">[Покупатель]</a>
    <a asp-controller="Account" asp-action="Logout">[Выход]</a>
}