<h1>PriceList</h1>
<partial name="_Menu" />
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<p>Coffee 1 - 350 rub</p>
<partial name="_UserInfo" />